/**
 * This file is responsible for declaring
 * variables that will be used by css
 * throughout the plugin's front-end.
 * Do not style elements directly within
 * this file.
 *
 * @author Waqar Haider <waqarhaider783@yahoo.com>
*/

$color-primary: #02cb74;
$color-accent: #fcff00;
$color-dark: #411867;

$color-bg--light: #fff;
$color-bg--dark: #f4f4f4;
